Checks: '-*,clang-diagnostic-*,llvm-*,misc-*,-misc-const-correctness,-misc-unused-parameters,-misc-non-private-member-variables-in-classes,-misc-no-recursion,-misc-use-anonymous-namespace,readability-identifier-naming,-misc-include-cleaner'

WarningsAsErrors: "*"

HeaderFilterRegex: ".*\\.(c|h)$"

CheckOptions:
#  - { key: readability-identifier-naming.FunctionCase,         value: lower_case }
#  - { key: readability-identifier-naming.VariableCase,         value: lower_case }
#  - { key: readability-identifier-naming.StructCase,           value: lower_case }
#  - { key: readability-identifier-naming.ParameterCase,        value: lower_case}
#  - { key: readability-identifier-naming.UnionCase,            value: lower_case }
#  - { key: readability-identifier-naming.EnumConstantCase,     value: UPPER_CASE }
#  - { key: readability-identifier-naming.GlobalConstantCase,   value: UPPER_CASE }
#  - { key: readability-identifier-naming.MacroDefinitionCase,  value: UPPER_CASE }
  - { key: performance-inefficient-algorithm,                  value: 1 }
  - { key: performance-unnecessary-value-param,                value: 1 }
  - { key: readability-implicit-bool-conversion.AllowIntegerConditions, value: 0 }
  - { key: readability-braces-around-statements.ShortStatementLines, value: 1 }
  - { key: readability-identifier-naming.EnumCase,             value: UPPER_CASE }
  - { key: misc-no-recursion,                                  value: 1 }
  - { key: misc-pedantic,                                      value: 1 }
  - { key: misc-no-global-variables,                           value: 1 }
  - { key: bugprone-argument-comment.StrictMode,               value: 1 }
